body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.cold {
  background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.warm {
  background: linear-gradient(3deg, rgba(69,6,6,1) 0%, rgba(124,20,20,1) 25%, rgba(133,53,25,1) 67%, rgba(255,255,255,1) 100%);  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.location-box {
  margin: 30px auto;
}

.location-box .location {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 4px 3px #0008;
}

.location-box .date {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 3px 3px #0008;
  font-weight: 500;
  font-style: italic;
}

.weather-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.weather-box .temp {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: 5px 5px #222;
  height: 25vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 4rem;
  color: #fff;
  font-weight: 1000;
  text-shadow: 4px 4px #222;
}

.weather-box .weather {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 4px 4px #222;
}